DEBUG=True
SERVICE_NAME=SupportService
ENV=development

POSTGRES__DB=
POSTGRES__USER=
POSTGRES__PASSWORD=
POSTGRES__HOST=localhost
POSTGRES__PORT=5432
POSTGRES__DSN="${POSTGRES__DB}+psycopg://${POSTGRES__USER}:${POSTGRES__PASSWORD}@${POSTGRES__HOST}:${POSTGRES__PORT}/${POSTGRES__DB}"
